<!DOCTYPE html>
<html>
  <head>
    <title>Thank you</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Thank you</h1>
    <p>Your email <%= EMAIL %> has been added successfully to our subscribers list.</p>
  </body>
</html>
